<h1><%=@contador%> Participantes</h1>
<div class="offset9 span3"><p><a class="btn btn-large" href="/download"><i class="icon-download"></i> Descargar</a></p></div>
<table class="table table-condensed" style="font-size:60%;">
	<thead>
		<tr>
			<th>fb_id</th>
			<th>img</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Nombre Completo</th>
			<th>Email</th>
			<th>Puntaje PSU</th>
			<th>Open</th>
			<th>Votos</th>
			<th>Cuando</th>
		</tr>
	</thead>
	<tbody>
		<% @res.each do |user| %>
		<tr>
			<td><a href="http://www.facebook.com/<%=user[1] %>" target="_blank"><img style="width:40%;height:auto;" src="/fb_icon.png" alt="Ver perfil en facebook" /></a></td>
			<td><a href="/img_uploads/<%=user[1] %>/.jpg" target="_blank">img</a></td>
			<td><%=user[3] %></td>
			<td><%=user[4] %></td>
			<td><%=user[5] %></td>
			<td><%=user[6] %></td>
			<td><%=user[7] %></td>
			<td><%=user[8] %></td>
			<td><%=user[9] %></td>
			<td><%=user[10] %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<div class="pagination pagination-centered">
  <ul>
  	<% for i in 0..@cantidad %>
  	<% page = i + 1 %>
    <li><a href="/database?page=<%= page.to_s%>"><%= page.to_s%></a></li>
	<% end %>
  </ul>
</div>
