<h1><%=@contador%> Participantes</h1>
<div class="offset9 span3"><p><a class="btn btn-large" href="/download"><i class="icon-download"></i> Descargar</a></p></div>
<table class="table table-condensed" style="font-size:60%;">
	<thead>
		<tr>
			<th>fb_id</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Nombre Completo</th>
			<th>Email_fb</th>
			<th>Email actualizado</th>
			<th>Username</th>
			<th>Origen</th>
			<th>Cuando</th>
		</tr>
	</thead>
	<tbody>
		<% @res.each do |user| %>
		<tr>
			<td><a href="http://www.facebook.com/<%=user[1] %>" target="_blank"><img src="/fb_icon.png" alt="Ver perfil en facebook" /></a></td>
			<td><%=user[3] %></td>
			<td><%=user[4] %></td>
			<td><%=user[5] %></td>
			<td><%=user[11] %></td>
			<td><%=user[12] %></td>
			<td><%=user[13] %></td>
			<td><%=user[15] %></td>
			<td><%=user[16] %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<div class="pagination pagination-centered">
  <ul>
  	<% for i in 0..@cantidad %>
  	<% page = i + 1 %>
    <li><a href="/database?page=<%= page.to_s%>"><%= page.to_s%></a></li>
	<% end %>
  </ul>
</div>
