<h1><%=@contador%> Participantes</h1>
<div class="offset9 span3"><p><a class="btn btn-large" href="/download"><i class="icon-download"></i> Descargar</a></p></div>
<table class="table table-condensed" style="font-size:70%;">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Nombre Completo</th>
			<th>Deporte</th>
			<th>Email</th>
			<th>Username</th>
			<th>Origen</th>
			<th>Cuando</th>
		</tr>
	</thead>
	<tbody>
		<% @res.each do |user| %>
		<tr>
			<td><%=user[0] %></td>
			<td><%=user[3] %></td>
			<td><%=user[4] %></td>
			<td><%=user[5] %></td>
			<td><%=user[6] %></td>
			<td><%=user[7] %></td>
			<td><%=user[8] %></td>
			<td><%=user[10] %></td>
			<td><%=user[11] %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<div class="pagination pagination-centered">
  <ul>
  	<% for i in 0..@cantidad %>
  	<% page = i + 1 %>
    <li><a href="/database?page=<%= page.to_s%>"><%= page.to_s%></a></li>
	<% end %>
  </ul>
</div>